/*Inittialize*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #8E9AAF;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

div.main-wrapper {
    margin: 0 auto;
    width: 100%;
}

body {
    background-color: gray;
}

a {
    text-decoration: none;
}

header nav {
    width: 100%;
    height: 60px;
    background-color: #42CAFD;
}

header nav ul {
    float: left;
}

header nav ul li {
    float: left;
    list-style: none;
}

header nav ul li a {
    font-family: arial;
    font-size: 16px;
    color: #40798C;
    line-height: 63px;
    margin-left: 20px;
}

header div.nav-login {
    float: right;
}

/* header form*/

header div.nav-login form {
    float: left;
    padding-top: 15px;
    width:30%x;
    background-color: #42CAFD;
}

header div.nav-login form input {
    float: left;
    padding: 0px 10px;
    margin-right: 10px;
    width: 140px;
    height: 26px;
    border: 2px solid white;
    background-color: #ccc;
    font-family: arial;
    font-size: 14px;
    color: #40798C;
    line-height: 30px;
}

header div.nav-login form button {
    float: left;
    margin-right: 10px;
    width: 60px;
    height: 30px;
    border: none;
    background-color: #f3f3f3;
    font-family: arial;
    font-size: 14px;
    color: #40798C;
    cursor: pointer;
}

header div.nav-login form button:hover {
    background-color: #ccc;
}

header div.nav-login a {
    display: block;
    float: left;
    margin-right: 30px;
    margin-top: 15px;
    width: 60px;
    height: 26px;
    border: none;
    border: 2px solid #40798C;
    background-color: #E7E7E7;
    font-family: arial;
    font-size: 14px;
    color: #40798C;
    line-height: 26px;
    text-align: center;
    cursor: pointer;
}

header div.active {
    font-family: arial;
    font-size: 14px;
    color: #40798C;
    margin-top: 22px;
    display: block;
    margin-right: 30px;
    float: left;
}

section.main-container {
    padding-top: 40px;
    width: 100%;
}

section.main-container h2 {
    font-family: arial;
    font-size: 40px;
    color: #40798C;
    line-height: 50px;
    text-align: center;
}

/*Styling for form*/

form.signup-form {
    width: 30%;
    margin: 0 auto;
    padding-top: 30px;
}

form.signup-form input {
    padding: 0px 5%;
    margin-bottom: 4px;
    width: 90%;
    height: 40px;
    border: none;
    background-color: #42CAFD;
    font-family: arial;
    font-size: 16px;
    color: #40798C;
    line-height: 40px;
}

form.signup-form button {
    display: block;
    margin: 0 auto;
    width: 30%;
    height: 40px;
    border: none;
    background-color: #40798C;
    font-family: arial;
    font-size: 16px;
    color: #42CAFD;
    cursor: pointer;
}

form.signup-form button:hover {
    background-color: #40798C;
}

/* shop page */

div.shop-wrapper {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    max-width: 100%;
    grid-gap: 60px;
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

div.item-container {
    background-color: #40798C;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
    padding: 10px;
    text-align: center;
}

div.item-container img{
    width: 250px;
    border-radius: 5px;
}

div.item-container input{
    width: 125px;
}

input.addto {
    background-color: #42CAFD;
    color: #40798C;
    border: none;
    cursor: pointer;
}

div.table-wrapper table {
    font-family: arial;
    color: #40798C;
    max-width: 80%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

div.table-wrapper tr {
    height: 20px;
    border-bottom: 2px solid #8E9AAF;
    padding-bottom: 5px;
}

div.table-wrapper {
    font-family: arial;
    color: #40798C;
    text-align: center;
    margin-top: 50px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

div.table-wrapper h3{
    font-family: arial;
    color: #40798C;
    font-size: 24px;
    text-align: center;
}

div.cat-wrapper {
    font-family: arial;
    color: #40798C;
    text-align: center;
    margin-top: 50px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

div.cat-wrapper form{
    font-family: arial;
    color: #40798C;
    text-align: center;
    margin-top: 50px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

div.cat-wrapper form select{
    background: white;
    border: 1px solid grey;
    font-size: 14px;
    height: 26px;
    padding: 5px;
    width: 90px;
}
div.gameSreen {
  border: 1px solid black;
  width: 900px;
  height: 600px;
}
/* color-palette: #8E9AAF #42CAFD #1F363D #40798C #E7E7E7 */

/* TO DO */
/* add hover to add to cart btn*/
